
.login-box {
    width: 40%;
    margin: 2%;
}
.form-input-3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

@media (max-width: 600px) {
    .login-box {
        width: 100%;
        margin: 0;
    }
}
